<p id="notice"><%= notice %></p>
<% if current_admin %>
<h1>Admin Dashboard</h1>
<% inBadStanding = 0 %>
<% @users.each do |user| %>
    <% absences = 0 %>
    <% @meetings.each do |meeting| %>
      <% attended = false %>
      <% (Attendance.where(userNum: user.uin)).each do |attendance| %>
        <% if meeting.password == attendance.password %>
          <% attended = true %>
        <% end%>
        </tr>
      <% end %>
      <% if !attended && user.excusal_date < meeting.date %>
        <% absences = absences + 1 %>
      <% end %>
    <% end %>
    <% if absences >= 3 %>
      <% inBadStanding = inBadStanding + 1 %>
    <% end %>
<% end %>
<% if inBadStanding >= 1 %>
    <h2 id="warning">There are <%= inBadStanding %> members who've missed 3+ meetings. <%= link_to 'Click here to learn more.', 'attendances#index' %></h2>
<% end %>
<%= link_to 'Users', 'users#index' %>
<%= link_to 'Meetings', 'meetings#index' %>
<%= button_to 'Logout', destroy_admin_session_path, data: {turbo: 'false'}, method: :delete %>
<% else %>
<% if current_user %>
<% absences = 0 %>
<% @meetings.each do |meeting| %>
  <% attended = false %>
  <% (Attendance.where(userNum: current_user.uin)).each do |attendance| %>
    <% if meeting.password == attendance.password %>
      <% attended = true %>
    <% end%>
    </tr>
  <% end %>
  <% if !attended && current_user.excusal_date < meeting.date %>
    <% absences = absences + 1 %>
  <% end %>
<% end %>
<h1>Howdy <%= current_user.first_name %></h1>
<% if absences >= 2 %>
<h2 id="warning">WARNING: you have missed <%= absences%> meetings. View your attendance history for more details</h2>
<% end %>
<%= link_to 'Attendance History', 'attendances#index' %>
<%= button_to 'Logout', destroy_user_session_path, data: {turbo: 'false'}, method: :delete %>
<% else %>
<%= button_to 'Login as Admin', new_admin_session_path %>
<%= button_to 'Login as User', new_user_session_path %>
<% end %>
<% end %>
