<!DOCTYPE html>

<style>
  body{
    margin:0 !important;
    padding: 5px !important;
  }
    table, th, td {
    border:1px solid black;
  }
</style>

<% if current_admin %>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" >
        <img src="/images/logo.jpg" alt="BushSchoolGSGA logo" height="50">
      </a>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'Dashboard', admin_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Meetings', meetings_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Users', users_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    

      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%=button_to('Logout', destroy_admin_session_path, data: {turbo: 'false'}, method: :delete, class: "btn btn-outline-success mr-1") %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="mask" >
      <div class = "d-flex justify-content-center align-items-center h-100">
        <div class = "text-black">
          <h1 style="padding: 10px">Meetings</h1>
          </div>
      </div>
    </div>
    <div class="mask" >
      <div class = "d-flex justify-content-center align-items-center h-100">
        <div class = "text-black">
          <table>
            <thead>
              <tr>
                <th>Description</th>
                <th>Date</th>
                <th>Password</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @meetings.each do |meeting| %>
                <tr>
                  <td><%= meeting.description %></td>
                  <td><%= meeting.date %></td>
                  <td><%= meeting.password %></td>
                  <td><%= link_to 'View Attendees', meeting %></td>
                  <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
                  <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    <br></br>
    <div class="mask" >
        <div style="display: flex;">
            <div style="flex-grow: 1;">
                <%= link_to 'New Meeting', new_meeting_path, class: "btn btn-outline-info"%>
            </div>
            <div>
                <%= link_to 'Back', 'dashboard#index', class: "btn btn-outline-danger"%>
            </div>
        </div>
    </div>
  
    
    
    
    
    <% else %>
    <style>
  body{
    margin:0 !important;
    padding: 5px !important;
    vertical-align: middle;
  }
    table, th, td {
    border:1px solid black;
  }
</style>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" >
        <img src="/images/logo.jpg" alt="BushSchoolGSGA logo" height="50">
      </a>
        
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'Login as Admin', new_admin_session_path, class: 'nav-link', id: "dashboard_btn" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Login as User', new_user_session_path, class: 'nav-link', id: "meeting_btn" %>
          </li>
          </li>
        </ul>
      </div>
    </nav>

    <div class="mask" >
      <div class = "d-flex justify-content-center align-items-center h-100">
        <div class = "text-black">
          <h1 class="mb-3">Welcome to the Bush School attendance portal! Click on one of the above buttons to sign in.</h1>
        </div>
      </div>
    </div>
  </body>
</html>
    <% end %>
  </body>
</html>

