<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meeting.date %>
</p>

<p>
  <strong>Password:</strong>
  <%= @meeting.password %>
</p>

<h1>Attendance</h1>
<table>
  <thead>
      <th>Name</th>
      <th>Present</th>
      <th rowspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% attended = false %>
      <% @attendances.each do |attendance| %>
        <% if user.uin == attendance.userNum %>
          <% attended = true %>
        <% end%>
        </tr>
      <% end %>
      <tr>
        <td><%= user.first_name + " " + user.last_name %></td>
        <% if !attended && !(user.excusal_date > @meeting.date) %>
          <td id="absent">NO</td>
        <% end %>
        <% if attended %>
          <td id="present">YES</td>
        <% end %>
        <% if !attended && user.excusal_date > @meeting.date %>
          <td id="absent" style="background-color:orange;">EXCUSED</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
