<!DOCTYPE html>
<% if current_admin %>
<style>
  body{
    margin:0 !important;
    padding: 5px !important;
    vertical-align: middle;
  }
    table, th, td {
    border:1px solid black;
  }
</style>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" >
        <img src="/images/logo.jpg" alt="BushSchoolGSGA logo" height="50">
      </a>
        
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'Dashboard', admin_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Meetings', meetings_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Users', users_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    

      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%=button_to('Logout', destroy_admin_session_path, data: {turbo: 'false'}, method: :delete, class: "btn btn-outline-success mr-1") %>
          </li>
        </ul>
      </div>
    </nav>

    <br></br>

    <div class="mask" >
      <div class = "d-flex justify-content-center align-items-center h-100">
        <div class = "text-black">
          <h1 class="mb-3">Users</h1>
        </div>
      </div>
    </div>

<%= search_form_for @q do |f| %>

  <%= f.label :first_name_start %>
  <%= f.search_field :first_name_start %>

  <%= f.label :last_name_start %>
  <%= f.search_field :last_name_start %>

  <%= f.label :street_address_cont %>
  <%= f.search_field :street_address_cont %>

  <%= f.label :street_address_line_two_cont %>
  <%= f.search_field :street_address_line_two_cont %>

  <%= f.label :city_cont %>
  <%= f.search_field :city_cont %>

  <%= f.label :state_cont %>
  <%= f.search_field :state_cont %>

  <%= f.label :zip_code_cont %>
  <%= f.search_field :zip_code_cont %>

  <%= f.label :phone_number_cont %>
  <%= f.search_field :phone_number_cont %>

  <%= f.label :uin_cont %>
  <%= f.search_field :uin_cont %>

  <%= f.label :position_cont  %>
  <%= f.select :position_cont, ['', 'leader', 'member']  %>

  <%= f.label :committee_cont %>
  <%= f.search_field :committee_cont %>

  <%= f.submit %>
<% end %>
<div class="mask" >
      <div class = "d-flex justify-content-center align-items-center h-100">
        <div class = "text-black">
<table>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Street address</th>
      <th>Street address line two</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Phone number</th>
      <th>UIN</th>
      <th>Position</th>
      <th>Committee</th>
      <th>Excusal Date</th>
      <th>Absences</th>
      <th colspan="3"></th>
    </tr>

  <tbody>
    <% @users.each do |user| %>
      <% absences = 0 %>
      <% @meetings.each do |meeting| %>
        <% attended = false %>
        <% (Attendance.where(userNum: user.uin)).each do |attendance| %>
          <% if meeting.password == attendance.password %>
            <% attended = true %>
          <% end%>
          </tr>
        <% end %>
        <% if !attended && user.excusal_date < meeting.date %>
          <% absences = absences + 1 %>
        <% end %>
      <% end %>
      <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.street_address %></td>
      <td><%= user.street_address_line_two %></td>
      <td><%= user.city %></td>
      <td><%= user.state %></td>
      <td><%= user.zip_code %></td>
      <td><%= user.phone_number %></td>
      <td><%= user.uin %></td>
      <td><%= user.position %></td>
      <td><%= user.committee %></td>
      <td><%= user.excusal_date %></td>
      <% if absences >= 3 %>
        <td id="absent"><%= absences %></td>
      <% else %>
        <td id="present"><%= absences %></td>
      <% end %>
      <td><%= link_to 'View Profile and Attendance History', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
      
    <% end %>
  </tbody>
</table>

</div>
</div>
</div>
<%= link_to 'Create New User', new_user_path, class: "btn btn-outline-primary" %> 
<% else %>
<%= button_to 'Login as Admin', new_admin_session_path %>
<%= button_to 'Login as User', new_user_session_path %>
<% end %>
