<!DOCTYPE html>
<% if current_admin %>
<p id="notice"><%= notice %></p>
<style>
  body{
    margin:0 !important;
    padding: 5px !important;
    vertical-align: middle;
  }
    table, th, td {
    border:1px solid black;
  }
</style>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" >
        <img src="/images/logo.jpg" alt="BushSchoolGSGA logo" height="50">
      </a>
        
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'Dashboard', admin_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Meetings', meetings_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Users', users_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    

      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%=button_to('Logout', destroy_admin_session_path, data: {turbo: 'false'}, method: :delete, class: "btn btn-outline-success mr-1") %>
          </li>
        </ul>
      </div>
    </nav>

    <br></br>

    <div class="mask" >
      <div class = "d-flex justify-content-center align-items-center h-100">
        <div class = "text-black">
          <h1 class="mb-3">User Details</h1>
        </div>
      </div>
    </div>
    <div class="mask" >
      <div class = "d-flex justify-content-center align-items-center h-100">
        <div class = "text-black">
          <table>
            <tr>
              <th>First Name </th>
              <th>Last Name </th>
              <th>Street Address </th>
              <th>Street Address Line Two </th>
              <th>City </th>
              <th>State </th>
              <th>Zip Code </th>
              <th>Phone Number </th>
              <th>UIN </th>
              <th>Position </th>
              <th>Committee </th>
              <th>Email </th>
              <th>Excusal Date</th>
              
            </tr>
            <tr>
              <td><%= @user.first_name %> </td>
              <td><%= @user.last_name %> </td>
              <td><%= @user.street_address %> </td>
              <td><%= @user.street_address_line_two %> </td>
              <td><%= @user.city %> </td>
              <td><%= @user.state %> </td>
              <td><%= @user.zip_code %> </td>
              <td><%= @user.phone_number %> </td>
              <td><%= @user.uin %> </td>
              <td><%= @user.position %> </td>
              <td><%= @user.committee %> </td>
              <td><%= @user.email %> </td>
              <td><%= @user.excusal_date %> </td>
         

            </tr>
          </table>
        </div>
      </div>
    </div>
    <p id="notice"><%= notice %></p>

    <br></br><br></br>

    <div class="mask" >
      <div class = "d-flex justify-content-center align-items-center h-100">
        <div class = "text-black">
          <h1 class="mb-3">User Attendance</h1>
        </div>
      </div>
    </div>

    <div class="mask" >
      <div class = "d-flex justify-content-center align-items-center h-100">
        <div class = "text-black">
          <table>
            <tr>
              <th>Decription</th>
              <th>Date</th>
              <th>Present</th>
            </tr>

            <tbody>
    <% @meetings.each do |meeting| %>
      <% attended = false %>
      <% @attendances.each do |attendance| %>
        <% print meeting.password %>
        <% print attendance.password %>
        <% if meeting.password == attendance.password %>
          <% attended = true %>
        <% end%>
        </tr>
      <% end %>
      <tr>
        <td><%= meeting.description %></td>
        <td><%= meeting.date %></td>
        <% if !attended && !(@user.excusal_date > meeting.date) %>
          <td id="absent">NO</td>
        <% end %>
        <% if attended %>
          <td id="present">YES</td>
        <% end %>
        <% if !attended && @user.excusal_date > meeting.date %>
          <td id="absent" style="background-color:orange;">EXCUSED</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
          </table>
        </div>
      </div>
    </div>

    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-outline-primary" %> |
    <%= link_to 'Back', users_path, class: "btn btn-outline-danger" %>
</body>
<% else %>
<style>
  body{
    margin:0 !important;
    padding: 5px !important;
    vertical-align: middle;
  }
    table, th, td {
    border:1px solid black;
  }
</style>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" >
        <img src="/images/logo.jpg" alt="BushSchoolGSGA logo" height="50">
      </a>
        
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'Login as Admin', new_admin_session_path, class: 'nav-link', id: "dashboard_btn" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Login as User', new_user_session_path, class: 'nav-link', id: "meeting_btn" %>
          </li>
          </li>
        </ul>
      </div>
    </nav>

    <div class="mask" >
      <div class = "d-flex justify-content-center align-items-center h-100">
        <div class = "text-black">
          <h1 class="mb-3">Welcome to the Bush School attendance portal! Click on one of the above buttons to sign in.</h1>
        </div>
      </div>
    </div>
  </body>
</html>
<% end %>
</html>
