<p id="notice"><%= notice %></p>

<% if current_admin %>
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @user.street_address %>
</p>

<p>
  <strong>Street address line two:</strong>
  <%= @user.street_address_line_two %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @user.zip_code %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>UIN:</strong>
  <%= @user.uin %>
</p>

<p>
  <strong>Position:</strong>
  <%= @user.position %>
</p>

<p>
  <strong>Committee:</strong>
  <%= @user.committee %>
</p>

<p>
  <strong>Committee:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Committee:</strong>
  <%= @user.password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<% else %>
<%= button_to 'Login as Admin', new_admin_session_path %>
<%= button_to 'Login as User', new_user_session_path %>
<% end %>
