<p id="notice"><%= notice %></p>

<h1>Attendances</h1>

<table>
  <thead>
      <th>Name</th>
      <th>UIN</th>
      <th>Description</th>
      <th>Date</th>
      <th rowspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= User.where(uin: attendance.userNum).last.last_name + ", " + User.where(uin: attendance.userNum).last.first_name %></td>
        <td><%= attendance.userNum %></td>
        <td><%= Meeting.where(password: attendance.password).last.description %></td>
        <td><%= Meeting.where(password: attendance.password).last.date %></td>
        <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance', new_attendance_path %>
