<p id="notice"><%= notice %></p>

<h1>Attendance History</h1>
<% if current_user %>
<table>
  <thead>
      <th>Description</th>
      <th>Date</th>
      <th>Present</th>
      <th rowspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <% attended = false %>
      <% @user_attendance.each do |attendance| %>
        <% if meeting.password == attendance.password %>
          <% attended = true %>
        <% end%>
        </tr>
      <% end %>
      <tr>
        <td><%= meeting.description %></td>
        <td><%= meeting.date %></td>
        <% if !attended %>
          <td id="absent">NO</td>
        <% else %>
          <td id="present">YES</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', '/' %>

<br>
<% end %>
<% if current_admin %>
<h1>Members in bad attendance standing</h1>
<table>
  <thead>
      <th>Name</th>
      <th>Absences</th>
      <th rowspan="2"></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <% absences = 0 %>
    <% @meetings.each do |meeting| %>
      <% attended = false %>
      <% (Attendance.where(userNum: user.uin)).each do |attendance| %>
        <% if meeting.password == attendance.password %>
          <% attended = true %>
        <% end%>
        </tr>
      <% end %>
      <% if !attended %>
        <% absences = absences + 1 %>
      <% end %>
    <% end %>
    <% if absences >= 3 %>
      <tr>
        <td><%= user.first_name + " " + user.last_name %></td>
        <td><%= absences %></td>
        <td><%= link_to 'View Profile and Attendance History', user %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<%= link_to 'Back', '/' %>
<% end %>
