<p id="notice"><%= notice %></p>
#attempt to show stored values within attendance entity
<p>
  <strong>Passed in UIN:</strong>
  <%= @attendance.userNum %>
</p>

<p>
  <strong>Passed in Meeting password:</strong>
  <%= @attendance.password%>
</p>




<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>



